
/* *** ====================== *** */
/* *** ==== List of Fonts === *** */

// Font: FedraSansStd Bold
@font-face {
	font-family: 'FedraSansStd Bold';
	src: url('../fonts/FedraSansStd Bold.eot');
	src: local('☺'), url('../fonts/FedraSansStd Bold.woff') format('woff'), url('../fonts/FedraSansStd Bold.ttf') format('truetype'), url('../fonts/FedraSansStd Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSansStd Book
@font-face {
	font-family: 'FedraSansStd Book';
	src: url('../fonts/FedraSansStd Book.eot');
	src: local('☺'), url('../fonts/FedraSansStd Book.woff') format('woff'), url('../fonts/FedraSansStd Book.ttf') format('truetype'), url('../fonts/FedraSansStd Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSansStd Light
@font-face {
	font-family: 'FedraSansStd Light';
	src: url('../fonts/FedraSansStd Light.eot');
	src: local('☺'), url('../fonts/FedraSansStd Light.woff') format('woff'), url('../fonts/FedraSansStd Light.ttf') format('truetype'), url('../fonts/FedraSansStd Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSansStd LightItalic
@font-face {
	font-family: 'FedraSansStd LightItalic';
	src: url('../fonts/FedraSansStd LightItalic.eot');
	src: local('☺'), url('../fonts/FedraSansStd LightItalic.woff') format('woff'), url('../fonts/FedraSansStd LightItalic.ttf') format('truetype'), url('../fonts/FedraSansStd LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSansStd Medium
@font-face {
	font-family: 'FedraSansStd Medium';
	src: url('../fonts/FedraSansStd Medium.eot');
	src: local('☺'), url('../fonts/FedraSansStd Medium.woff') format('woff'), url('../fonts/FedraSansStd Medium.ttf') format('truetype'), url('../fonts/FedraSansStd Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSerifBPro Bold
@font-face {
	font-family: 'FedraSerifBPro Bold';
	src: url('../fonts/FedraSerifBPro Bold.eot');
	src: local('☺'), url('../fonts/FedraSerifBPro Bold.woff') format('woff'), url('../fonts/FedraSerifBPro Bold.ttf') format('truetype'), url('../fonts/FedraSerifBPro Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSerifBPro Book
@font-face {
	font-family: 'FedraSerifBPro Book';
	src: url('../fonts/FedraSerifBPro Book.eot');
	src: local('☺'), url('../fonts/FedraSerifBPro Book.woff') format('woff'), url('../fonts/FedraSerifBPro Book.ttf') format('truetype'), url('../fonts/FedraSerifBPro Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSerifBPro BookItalic
@font-face {
	font-family: 'FedraSerifBPro BookItalic';
	src: url('../fonts/FedraSerifBPro BookItalic.eot');
	src: local('☺'), url('../fonts/FedraSerifBPro BookItalic.woff') format('woff'), url('../fonts/FedraSerifBPro BookItalic.ttf') format('truetype'), url('../fonts/FedraSerifBPro BookItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSerifBPro Medium
@font-face {
	font-family: 'FedraSerifBPro Medium';
	src: url('../fonts/FedraSerifBPro Medium.eot');
	src: local('☺'), url('../fonts/FedraSerifBPro Medium.woff') format('woff'), url('../fonts/FedraSerifBPro Medium.ttf') format('truetype'), url('../fonts/FedraSerifBPro Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font: FedraSerifBPro NormalItalic
@font-face {
	font-family: 'FedraSerifBPro NormalItalic';
	src: url('../fonts/FedraSerifBPro NormalItalic.eot');
	src: local('☺'), url('../fonts/FedraSerifBPro NormalItalic.woff') format('woff'), url('../fonts/FedraSerifBPro NormalItalic.ttf') format('truetype'), url('../fonts/FedraSerifBPro NormalItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


//Webfont icons
@font-face {
    font-family: 'School Icons';
    src:    url('../fonts/school-icons.eot?mneir8');
    src:    url('../fonts/school-icons.eot?mneir8#iefix') format('embedded-opentype'),
        url('../fonts/school-icons.ttf?mneir8') format('truetype'),
        url('../fonts/school-icons.woff?mneir8') format('woff'),
        url('../fonts/school-icons.svg?mneir8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}